/* Big Screens */
#card {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #002c6aa8;
    padding: 15px;
}

.card-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #002c6a;
    color: #8d0054;
    padding: 5%;
    position: relative;
    text-shadow: 1px 1px 5px #c4c4c4;
}

.card-wrapper .card-title {
    /* font-family: "Tangerine", cursive; */
    font-family: "Great Vibes", cursiv e;
}

.card-wrapper .line-divider {
    width: 60%;
}

.card-wrapper .modal-poster {
    width: 150px;
}

.card-wrapper .btn {
    background-color: #c40878;
    border-color: #c40878 !important;
    font-weight: 600;
    width: 120px;
    padding-top: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-wrapper .btn:active {
    background-color: #8d0054 !important;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    .card-wrapper {
        padding: 15% 10%;
    }
    .card-wrapper .card-title {
        font-size: 1.25rem;
        margin-top: 80px;
    }
    .line-break:after {
        content: "\a";
        white-space: pre;
    }
    .card-wrapper .line-divider {
        width: 70%;
    }
    .card-wrapper .invitor-name,
    .card-wrapper h4 {
        font-size: 1rem;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
